<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="strategyConfiguration" type="AK.CCI.Service.Settings.StrategyConfigurationSection, AK.CCI.Service"/>
  </configSections>
  <appSettings>
  </appSettings>
  <strategyConfiguration
    securityCode="SiU5"
    candleTimeFrame="00:01:00"
    indicatorLength="5"
    stopLossLevel="40"
    takeProfitLevel="10"
    takeProfitOffset="0"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <log4net>
    <appender name="ManagedColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="DarkRed"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="White"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] @ %logger [%level]: %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] @ %logger [%level]: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Debug"/>
      <appender-ref ref="ManagedColoredConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
</configuration>
